body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0, 10px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.important {
  color: "#000";
  font-weight: bold;
}
